<nav class="flex justify-center space-x-4 mb-8">
    <a href="/" class="text-blue-500 hover:text-blue-700">Home</a>
    <a href="/music" class="text-blue-500 hover:text-blue-700">Music</a>
    <a href="/about" class="text-blue-500 hover:text-blue-700">About</a>
    <a href="/blog" class="text-blue-500 hover:text-blue-700">Blog</a>
  </nav>