<nav class="flex items-center justify-between p-4 border-b">
  <!-- ロゴ -->
  <div class="text-xl font-bold text-gray-800">
    <a href="/"><img src="/images/k8s.png" alt="Logo" class="h-8 max-w-none object-contain"></a>
  </div>

  <!-- ナビゲーションメニュー -->
  <div class="space-x-4">
    <a href="/" class="text-blue-500 hover:text-blue-700">Home</a>
    <a href="/music" class="text-blue-500 hover:text-blue-700">Music</a>
    <a href="/about" class="text-blue-500 hover:text-blue-700">About</a>
    <a href="/blog" class="text-blue-500 hover:text-blue-700">Blog</a>
  </div>
</nav>
