<!DOCTYPE html>

<html lang="en">

<head>
  <meta charset="UTF-8">
  <title><%= title %></title>
  <link href="/css/styles.css" rel="stylesheet">
</head>

<body class="bg-gray-100 text-gray-800">

  <div class="bg-gray-100 flex">
        
        <!-- 縦帯の画像 -->
        <div class="bg-contain bg-center w-64 h-screen" style="background-image: url('/images/name.png');">
        <!-- 必要に応じて画像タグでもOK -->
        <!-- <img src="/images/sidebar.jpg" class="h-full w-full object-cover" alt="Sidebar"> -->
        </div>

        <!-- 右側 -->
        <div class="bg-gray-200 flex-1 p-4">
        <!-- <h1 class="text-4xl font-bold mb-4 text-center"><%= message %></h1> -->
        <%- include('partials/header') %> <!-- ここでヘッダーを表示 -->
        
        <!--
        <div class="text-center mb-8">
            <img src="./images/k8s.png" alt="Profile Picture" class="rounded-full w-32 h-32 mx-auto mb-4">
            <p>Hello! Welcome to my personal website where I share my journey as an engineer and musician.</p>
        </div>
        -->

            <div class="mt-10 space-y-8 p-5">

                <section id="career" class="min-h-screen bg-orange-100 p-5 text-left">
    
                    <h2 class="text-4xl font-semibold text-orange-600 tracking-tight border-l-8 border-orange-300 pl-4 mb-2 pt-12">
                      Career
                    </h2>
  
                    <!-- Speaker Deck埋め込み -->
                    <div class="aspect-w-16 aspect-h-7 p-0">
                        <iframe class="speakerdeck-iframe" style="border: 0px; background: rgba(0, 0, 0, 0.1) padding-box; margin: 0px; padding: 0px; border-radius: 6px; box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 40px; width: 100%; height: auto; aspect-ratio: 560 / 315;" frameborder="0" src="https://speakerdeck.com/player/ed30727d191f4db2ab134ec98a46b115" title="カリキュラムご提案" allowfullscreen="true" data-ratio="1.7777777777777777"></iframe>
                    </div>

                </section>

                <section id="document" class="min-h-screen bg-blue-100 p-10 py-20 text-left">
                    <h2 class="text-4xl font-bold">技術記事</h2>
                    <p>ここが Data Science のセクションの内容です。</p>
                </section>

                <section id="oss" class="min-h-screen bg-green-100 p-10 py-20 text-left">
                    <h2 class="text-4xl font-bold">OSS Section</h2>
                    <p>ここが OSS のセクションの内容です。</p>
                </section>

                <section id="seminar" class="min-h-screen bg-yellow-100 p-10 py-20 text-left">
                    <h2 class="text-4xl font-bold">Seminar Section</h2>
                    <p>ここが Seminar のセクションの内容です。</p>
                </section>

                <section id="youtube" class="min-h-screen bg-gray-100 p-10 py-20 text-left">
                    <h2 class="text-4xl font-bold">YouTube Section</h2>
                    <p>ここが YouTube のセクションの内容です。</p>
                </section>

                <section id="worldmap" class="min-h-screen bg-purple-100 p-10 py-20 text-left">
                    <h2 class="text-4xl font-bold">World Map Section</h2>
                    <p>ここが World Map のセクションの内容です。</p>
                </section>

            </div>
   
         </div>

    </div>

</body>
</html>